.app {
  max-width: 1280px;
  min-width: 320px;
  background-color: rgb(255, 255, 255);
  /* border: 5px solid rgb(255, 0, 0); */
  /* height: 100vh; */
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  position: relative;
}