.app {
  max-width: 1280px;
  min-width: 320px;
  background-color: rgb(255, 255, 255);
  /* border: 5px solid rgb(255, 0, 0); */
  /* height: 100vh; */
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  position: relative;
}
/*
.main-page {
  max-width: 1280px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 45px 200px 60px 200px;
  box-sizing: border-box;
  border-color: rgb(255, 0, 0);
  font-family: 'Inter', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1279px) {
  .main-page {
    padding: 45px 60px 60px 60px;
  }
}

@media screen and (max-width: 1023px) {
  .main-page {
    padding: 45px 80px 60px 80px;
  }
}

@media screen and (max-width: 568px) {
  .main-page {
    padding: 0;
  }
} */