.info-popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.info-popup_opened {
  visibility: visible;
  opacity: 1;
}

.info-popup__container {
  margin: auto auto;
}

.info-popup__container {
  width: 430px;
  height: 330px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
  /* padding: 60px 36px 60px 36px; */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.info-popup__message {
  margin: 30px;
  padding: 0;
  box-sizing: border-box;
  width: calc(100% - 60px);
  max-height: 100%;
  font-size: 20px;
  font-weight: 800;
  line-height: 29px;
  text-align: center;
  overflow: hidden;
  color: #FF4062;
}

.info-popup__close-button {
  padding: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 32px;
  right: 32px;
  background: url(../../images/buttons/close-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.info-popup__close-button:hover {
  opacity: 60%;
  transition: 1s;
  cursor: pointer;
}

.info-popup__close-button:not(hover) {
  transition: 1s;
}

@media screen and (max-width: 568px) {
  .info-popup__container {
    margin: auto 40px;
    width: 100%;
    min-width: 300px;
    height: 300px;
  }

  .info-popup__message {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    overflow: hidden;
    color: #FF4062;
  }
}

@media screen and (max-width: 425px) {
  .info-popup__container {
    margin: auto 20px;
    width: 100%;
    height: 250px;
  }

  .info-popup__message {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    overflow: hidden;
    color: #FF4062;
  }
}